# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
.vercel/output/**
!.vercel/output/functions/
!.vercel/output/functions/__nitro.func/
!.vercel/output/functions/__nitro.func/.vc-config.json
!.vercel/output/functions/__nitro.func/index.mjs

dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet  
.idea

# Local env files
.env
.env.*
!.env.example
